<!DOCTYPE html>
<html>
<head>
    <title>Create Source</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Create Source</h1>
        <form action="/source" method="post">
    
            <input type="text" name="namespace_id" placeholder="Namespace ID" required>
            <input type="text" name="source_id" placeholder="Source ID" required>
    
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="url" placeholder="URL" >
            <input type="text" name="institution" placeholder="Institution" >
            <input type="text" name="identifier_prefix" placeholder="Identifier Prefix" >
            <input type="text" name="country_iso" placeholder="Country ISO" >
            <input type="text" name="type" placeholder="Type" >
            <input type="text" name="site_id" placeholder="Site ID" >
            <input type="text" name="national_site_id" placeholder="National Site ID" >
            <input type="text" name="regional_site_id" placeholder="Regional Site ID" >
            <input type="text" name="token" placeholder="Token" >
                   
            <input type="submit" value="Create">
        </form>
    </div>
    
   
</body>
</html>